@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

* {
    font-family: "Lora", serif;
}

.backgrond {
    background-image: url(../public/Banner\ Image.png);
    width: 1320px;
    height: 600px;
    color: white;
    margin: 30px 70px;
    text-align: center;
    font-size: 20px;
}

.backgrond p {
    font-weight: 632;
}

.title {
    text-align: center;
    padding: 20px;
}

.OFF {
    color: red;
    font-size: 50px;
    align-items: center;
}

.OUR {
    color: red;
    text-align: center;
    justify-content: space-around;
}

.pic {
    width: 802.9px;
    height: 500px;
}

.Party {
    background-image: url(../public/Vectorrr.png), url(../public/Group\ 70.png);
    width: 1320px;
    height: 600px;
    padding: 0px;
    margin: 30px 70px;
    color: white;
    text-decoration: none;
}

.to h1 {
    margin: 20px 10px;
    padding: 10px;
    text-decoration: none;
}